<a href="https://colab.research.google.com/github/caroldutra/datasciece-study/blob/main/API%C2%B4s/API_bc_ipca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests 
import pandas as pd

In [2]:
url = "http://api.bcb.gov.br/dados/serie/bcdata.sgs.16121/dados/ultimos/10?formato=json"

In [3]:
response_raw = requests.get(url)

In [4]:
response = pd.DataFrame(response_raw.json())

In [5]:
response

         data  valor
0  01/04/2020   0.01
1  01/05/2020  -0.19
2  01/06/2020   0.03
3  01/07/2020   0.21
4  01/08/2020  -0.11
5  01/09/2020   0.17
6  01/10/2020   0.52
7  01/11/2020   0.36
8  01/12/2020   1.17
9  01/01/2021  -0.03